body {
    background-color: black;
    font-family: "Montserrat";
    font-weight: 500;
    color: cyan;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}

.nav-bar { 
    display: flex;
    justify-content: flex-end;
}

a {
    color: cyan;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 4%;
    font-size: larger;
}

a:hover {
    text-decoration-line: overline;
    font-weight: bold;
}

.contact-li-git-icons-nav {
    display: flex;
    margin-left: 4%;
    margin-right: 5%;
}

.li-git-icons {
    display: flex;
    margin-left: 8%;
}

header {
    display: flex;
    justify-content: flex-start;
    animation: slideInLeft 3s;
    margin: 5% 0 15% 0;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-275%);
    }

    100% {
        transform: translateX(0);
    }
}

#overlay-left {
    opacity: 1;
    margin: 6.5% 0 0 0;
    height: 236px;
    /* width: 38%; */
    width: 100%;
    background: linear-gradient(to right, rgba(23, 32, 36, 0.7), rgba(0, 255, 255, 0.55)), url("./assets/even-smaller-square-louvre-pyramid-bottom.jpg") no-repeat;
}

#overlay-right {
    opacity: 1;
    margin: 6.5% 0 0 0;
    height: 236px;
    /* width: 38%; */
    width: 100%;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.55), rgba(23, 32, 36, 0.7)), url("./assets/even-smaller-square-louvre-pyramid-bottom.jpg") no-repeat;
}

.header-info {
    display: flex;
    flex-direction: column;
    margin: 6.5% 2% 0 2%;
    width: 53em;
    opacity: 1;
    padding-top: 5px;
    font-size: x-large;
    border-top: 4px solid cyan;
}

#name {
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: x-large;
    color: cyan;
    text-align: center;
}

#dev {
    text-align: center;
    color: rgb(227, 250, 250);
    margin-bottom: -3%;
}

p {
    color: cyan;
}

p::after {
    display: block;
    content: " ";
    background: cyan;
    height: 4px;
    font-size: 10px;
    margin-top: 15px;
}

.tech-icons-group {
    margin: 8% 0% 3% 0%;
}

.about-icons {
    display: flex;
    justify-content: center;
    color: cyan;
}

.icons {
    display: flex;
    flex-direction: column;
    font-size: 41px;
    margin: 0 3% 0 3%;
}

.icons-text {
    font-size: small;
    text-align: center;
}

#stack {
    font-size: medium;
    text-align: center;
}


.sub-title {
    display: flex;
    justify-content: flex-end;
}


#projects-text,
#contact-text {
    font-size: x-large;
    margin-bottom: .5%;
    margin-right: 1.5%;
}


.project-name-bold {
    font-weight: bold;
    color: rgb(227, 250, 250);
}

.overlay-2 {
    opacity: 1;
    height: 2rem;
    width: 74.35%;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.55), rgba(23, 32, 36, 0.7)), url("./assets/louvre-pyramid-bottom.jpg") no-repeat;
}

#projects-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

#stem-project-container, #rtv-project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#stem-project-descrip, #rtv-project-descrip {
    background-color: black;
    height: auto;
    width: 30%;
    border-radius: 7px;
    border: 2px solid cyan;
    text-align: center;
    padding: 5px 15px 15px 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: -12%;
    z-index: 3;
}


#stem-edu-screenshot-overlay, #rtv-screenshot-overlay {
    height: auto;
    width: 60%;
    border-radius: 7px;
}


 #stem-project-and-descrip, #rtv-project-and-descrip {
    height: 400px;
    width: 100%;
    margin-top: 8%;
}

#stem-edu-screenshot-overlay, #rtv-screenshot-overlay {
    height: 300px;
    width: 100%;
    border-radius: 7px;
}


#stem-edu-screenshot-overlay:hover, #rtv-screenshot-overlay:hover {
    box-shadow: 0 0 20px cyan;
}


.project-links {
    padding-top: 10px;
}

.tech-stack {
    text-align: center;
}

.sub-title-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#about-text {
    font-size: x-large;
    margin: 2% 0 0 2.5%;
}

#builder {
    font-size: x-large;
    padding-bottom: -1%;
    color: rgb(227, 250, 250);
}

#about-me {
    display: flex;
    flex-direction: column;
    margin: 2% 3% 5% 1%;
    width: 24%;
    text-align: center;
    font-size: medium;
}

#me-detail {
    margin-top: -2.5%;
}

#pic {
    margin: 3% 0 0 .75%;
    border-radius: 50%;
}

#about-and-pic {
    width: 130%;
    display: flex;
    margin-bottom: 12%;
    margin-left: 3%;
}


#overlay-3 {
    opacity: 1;
    transform: translateY(95%);
    height: 2rem;
    width: 49.75%;
    background: linear-gradient(to right, rgba(23, 32, 36, 0.7), rgb(21, 255, 255, 0.4)), url("./assets/louvre-pyramid-bottom.jpg") no-repeat;
}

#overlay-4 {
    opacity: 1;
    height: 2rem;
    width: 41.5%;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.55), rgba(23, 32, 36, 0.7)), url("./assets/louvre-pyramid-bottom.jpg") no-repeat;
}



#send-msg {
    display: flex;
    flex-direction: column;

}

#send-email-form {
    margin-left: 58.5%;
}

#get-in-touch {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    color: rgb(227, 250, 250);

}

form {
    font-size: medium;
    margin-bottom: 20%;
}

form input {
    width: 85%;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: medium;
    border: none;
    border-radius: 2px;
    margin-bottom: .3%;
    padding: 7px;
}

input:focus {
    background-color: rgba(191, 248, 248, 0.938);
}

form textarea {
    width: 85%;
    font-family: "Montserrat";
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 7px;
    margin-bottom: .5%;
}

textarea:focus {
    background-color: rgba(191, 248, 248, 0.938);
}

form button {
    padding: 6px;
    border-radius: 4px;
    font-size: medium;
    color: black;
    background-color: rgba(5, 239, 239, 0.9);
    margin-top: .5%;
}

@media only screen and (max-width: 419px) {
    .nav-bar {
        margin-top: -4%;
        flex-direction: column;
    }

    nav {
        margin-left: 1%;
    }

    .contact-li-git-icons-nav {
        flex-direction: column;
        margin-left: -.025%;
    }
    
    .li-git-icons {
        margin-left: 0;
    }

    #projects-nav,
    #about-nav,
    #contact-nav {
       margin-bottom: -6%;
    }

    header {
        margin-top: 15%;
        margin-bottom: 110%;
    }

     
    #name {
        padding-top: 15px;
    }

    p::after {
        margin-top: 11px;
    }

    .icons {
        font-size: 30px;
    }

   .overlay-2 {
        width: 71%;
    }

    #projects-text {
        margin-right: 3%;
    }
     
    #stem-project-container,
    #rtv-project-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;
    }

    #rtv-project-descrip,
    #stem-project-descrip {
        width: 85%;
        margin-right: unset;
    }

    #stem-edu-screenshot-overlay,
    #rtv-screenshot-overlay {
        height: 197.5px;
        width: 96.5%;
        margin-top: -14%;
}
    #overlay-3 {
        width: 77%;
    }

    #about-text {
        margin-top: 9%;
    }

    #about-me {
        width: 42%;
    }

    #about-and-pic {
        width: 140%;
        margin-bottom: 30%;
    }

    #pic {
        margin-top: 47%;
        margin-left: -2%;
        width: 108px;
    }
  
   #overlay-4 {
    width: 72%;
   }

   #contact-text {
    margin-right: 3%;
   }

   #send-email-form {
    margin-left: 32%;
   }

 
   form input, form textarea {
    width: 91%;
   }

}
